celery==5.4.0
Flask==3.1.0
flask_cors==5.0.1
Flask_Login==0.6.3
Flask_RESTful==0.3.10
flask_sqlalchemy==3.1.1
gevent==24.11.1
grpcio==1.67.1
opendal==0.45.16
psycogreen==1.0.2
pydantic==2.10.6
pydantic_settings==2.8.1
PyJWT==2.10.1
PyJWT==2.10.1
python-dotenv==1.1.0
pytz==2025.2
rbtrag==0.1.8
redis==5.2.1
SQLAlchemy==2.0.39
Werkzeug==3.1.3
